<%- include("header") -%>

    <div class="container-fluid">
        <h1>Submit Ticket</h1>

        <button class="btn btn-dark" onclick="window.location.href='/viewTickets'">Return to Tickets</button>

        <form action="/submitTicket" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="submittedBy">Submitted By</label>
                    <input class="form-control" type="text" name="submittedBy" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="category">Category</label>
                    <input class="form-control" type="text" name="category" required>
                </div>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <textarea class="form-control" name="subject" rows="10" required></textarea>
            </div>
            <button class="btn btn-dark" type="submit" name="ticket">Submit Ticket</button>
            
        </form>
        
    </div>
    <%- include("footer") -%>